.publisherInformationContainer {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 15px;
    padding-bottom: 10px;
}

.publisherInformationContainer span {
    flex-basis: 50%;
    font-weight: 600;
    align-self: baseline;
}

.publisherInformationLink {
    display: flex;
    margin-top: 5px;
    gap: 2px;
}

.autoCompleteInnerContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 2rem;
}

.autocompleteAdditionalRow {
    color: var(--color-brand-gray);
}

.authorsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 0 !important;
    margin-top: 10px;
}

.authorsList > div {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    gap: 5px;
    border: 1px solid var(--color-brand-darkBlue);
    box-shadow: 2px 2px var(--color-brand-darkBlue);
    padding: 0.5rem;
}

.authorsFirstName {
    display: grid;
    grid-template-columns: 100px 1fr 0.3fr;
    align-items: center;
}

.authorsFirstName p:first-child,
.authorsLastName p:first-child  {
    font-weight: bold;
}

.authorsFirstName div {
    height: 30px;
    width: 30px;
    background-color: var(--color-brand-teal);
    color: var(--color-white);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 3px;
}

.authorsLastName {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.authorsRoles {
    display: flex;
    padding-left: 3px;
    margin-bottom: 5px;
}

.authorsListEdit {
    display: grid;
    gap: 10px;
    padding: 0 !important;
    margin-top: 5px;
}

.authorCardEdit {
    display: grid;
    grid-template-columns: 0.4fr 5fr;
    border: 1px solid var(--color-brand-darkBlue);
    box-shadow: 2px 2px var(--color-brand-darkBlue);
}

.authorCardEdit > div:first-child {
    height: 30px;
    width: 30px;
    background-color: var(--color-brand-darkBlue);
    color: var(--color-white);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 3px;
}
