.modalLayoutContainer {
    display: grid;
    align-items: center;
}

.main {
    min-height: 90;
    max-height: 900;
    position: relative;
    margin: 0px auto;
    border-radius: 5;
    background-color: var(--color-white);
    outline: none;
}

.closeButton {
    position: absolute !important;
    padding: 4px !important;
    right: 0;
    top: 0;
}

.modalTitle {
    border-bottom: 1px solid #c0c0c091;
    background: var(--color-whitesmoke);
    color: #00224f;
    padding: 10px 20px;
}

@media (max-width:650px) {
    .main {
        width: 80%
    }
}
